.wrapper{
    width:1024px;
    margin:0 auto;
    background-color: #ffff;
    position:relative;
   
   

}
.orange{
    background-color: #FFD59E;
    width:1024px;
    height:147px;
    
}
.orange h1{
    margin:0;
    padding:30px 0px 0px 25px;
    font-weight:400;
    font-family: 'Francois One', sans-serif;
    font-size:72px;
    color:#FF6738;
    float:left;
    line-height: 48px;
    
}
.orange h2{
    
    display: inline;
    color:#FF6738;
    font-family:'Francois One', sans-serif;
    float:right;
    padding-right:110px;
    font-size:34px;
    font-weight: 400;
    margin-bottom:0;

  
}
hr{

    background-color: #FF6738;
    float:right;
    width: 676px;
    height: 9px;
    border:none;

}
.nav{
    background-color: #FF6738;
    height:46px;
    font-family: 'Francois One', sans-serif;
    position: absolute;
}
ul{
    list-style: none;
    margin:0;
    display: block;
    padding-top:13px;
    
}
nav > ul > li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size:18px;
    color:#ffff;
    padding:10px 0px 10px 50px;
    display:inline;
    line-height: 22px;
   
    
    

}
nav > ul > li > a:hover{
    color: #ffff;
    text-decoration: none;
    font-size:25px;

}
nav > ul > li > a{
    color:#ffff;
    text-decoration: none;
}
.couverture{
    
width: 100%;
height: 300px;

}
.section{
    margin-top:15px;
}
.image1{
    max-width:50%;
    float: left;
    

}
.article1{
    max-width:48%;
    float:left;
    margin-left:20px;
    font-family:'Montserrat', sans-serif;
    font-weight:300;
    text-align: justify;
}
.titre1{
    color:#FFA938;
    font-size:36px;
    font-weight: 700;
    padding:0;
    margin:0;
}
hr.ligne2{
    width:100%;
    margin-top:0px;
}
.container {
    position: relative;
    text-align: center;
    color: #FF6738;
    font-size:36px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    padding-bottom:0;
    height:624px;
    margin:0;
    
  }

h2.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 30px;
    padding-bottom: 0px;
    margin:0;
    font-size:34px;
  }

.fondateur{
    margin-top: 10px;
    width: 100%;
    height: 364px;
}
.yellow{
    background-color: #FFD59E;
    width:100%;
    height:430px;
   
}
.colonne{
    max-width: 43%;
    float: left;
    margin:50px 5px 30px 45px;
    text-align:center;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    font-size:14px;

}
#services{
    color:#FF6738;
    font-size:48px;
    font-family:'Francois One', sans-serif;
    font-weight: 400;
    float: left;
    margin:10px 0px 20px 45px;
    text-transform: uppercase;

}
hr.nos-services{
    height:54px;
    width:650px;
    float:left;
    margin:20px 0px 30px 46px; 
    
}
.gestion{
    color:#FF6738;
    font-size:36px;
    font-family:'Francois One', sans-serif;
    margin:0px 0px 0px 0px;
    height:120px;
    font-weight:900;
    letter-spacing: 1px;
    
   

}
.par_1{
    max-width: 48%;
    float: left;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    padding:40px 0px 0px 0px;
}
.meeting{
    float:right;
    max-width:48%;
    margin: 0px 5px 15px 0px;
    height:320px;
}
.dev-web{
    color:#FF6738;
    font-size:36px;
    font-family:'Francois One', sans-serif;
    margin:10px 0px 0px 300px;
    height:50px;
    font-weight: 900;
    letter-spacing: 1px;
    float:right;
    
}
.par_2{
    max-width: 48%;
    float: right;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    padding:0px 0px 0px 0px;
}
.dev_web{
    float:left;
    max-width:48%;
    margin:17px 5px 15px 0px;
    height:320px;
    filter:grayscale(100%);
}

.hosting{
    color:#FF6738;
    font-size:36px;
    font-family:'Francois One', sans-serif;
    margin:10px 360px 0px 0px;
    height:50px;
    font-weight: 900;
    letter-spacing: 1px;
    float:left;
    
}
.par_3{
    max-width: 48%;
    float: left;
    text-align: justify;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    padding:10px 0px 0px 0px;
}
.hostingimg{
    float:right;
    max-width:48%;
    margin:25px 5px 15px 0px;
    height:290px;
    filter:grayscale(100%) brightness(200%);
    
    
}
hr.nos-tarifs{
    height:54px;
    width:650px;
    float: left;
    margin-top:-55px;
    
   
    
}
.tarifs{
    color:#FF6738;
    font-size:48px;
    font-family:'Francois One', sans-serif;
    font-weight: 400;
    float: left;
    margin:0px 0px 0px 700px;
    max-width: 30%;
    
    
}

.table{
    width:1024px;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    padding-top:40px;
   
    text-align: justify;

   
}
th{
    text-align: center;
    margin-left: 20px;
    font-size: 16px;
    color:#FF6738;
}
.td-texte{
    padding:10px 10px 10px 10px;
    text-align: justify;

}
td{
    padding:10px 10px 10px 10px;
    text-align: center;
}
.td-forfait{
    width: 15px;
    text-align: center;
    font-weight: bold;
   
}

.col1{
    width:150px;
   
}
.col2{
    padding-left: 10px;

}
.contact{
    color:#FF6738;
    font-size:48px;
    font-family:'Francois One', sans-serif;
    font-weight: 400;
    float: left;
    margin:11px 0px 0px 60px;
    text-transform: uppercase;

}
hr.contact{
    height:54px;
    width:569px;
    margin:25px 0px 0px 45px; 
    
}
::placeholder{
    opacity:50%;
}
#last_name{
    height:66px;
    width:395px;
    border:none;
    background-color:#ffd59e;
    border-radius: 5px;
    font-size: 24px;
    text-align: left;
    margin:20px 0px 30px 0px;
    padding-left:10px;

}#first_name{
    height:66px;
    width:560px;
    border:none;
    background-color:#ffd59e;
    border-radius: 5px;
    text-align: left;
    font-size: 24px;
    margin-left:20px;
    margin-top:50px;
    padding-left:10px;
}

#email{
    height:66px;
    width:656px;
    border:none;
    background-color:#ffd59e;
    border-radius: 5px;
    text-align: left;
    font-size: 24px;
    margin-bottom: 30px;
    padding-left:10px;

}
#phone{
    height:66px;
    width:656px;
    border:none;
    background-color:#ffd59e;
    border-radius: 5px;
    text-align: left;
    font-size: 24px;
    padding-left:10px;

}
.text{
    height:285px;
    width:975px;
    border:none;
    background-color:#ffd59e;
    border-radius: 5px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    padding:20px 0px 0px 10px;
    margin:30px 0px 0px 0px;

}
.soumettre{
    height:86px;
    width:310px;
    background-color:#FF6738;
    border:none;
    border-radius:5px;
    margin:50px 0px 50px 630px;
    color:white;
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.514);
}




.footer{
    height:294px;
    width:1024px;
    margin: 0 auto;
    background-color:#C4C4C4;
    text-align: center;
    
}
hr.barre-footer{
    height:54px;
    width:589px;
    float: right;
    margin-top: -79px;
    
   
    
}
.footer-text{
    color:#FF6738;
    font-size:72px;
    font-family:'Francois One', sans-serif;
    font-weight: 400;
    float: left;
    margin:10px 690px 0px 72px;
    max-width: 30%;
  
    
}
#container {
    color: white;
    margin-bottom: 2em;
    min-height: 100%;
    overflow: auto;
    padding: 0 2em;
    text-align: justify;
  }
  
  #footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: fixed;
    font-size: small;
    width:100%;
  }
.infos{
    font-family: 'Montserrat', sans-serif;
    float: left;
    font-weight: 600;
    text-align: left;
    padding:10px 0px 10px 72px;
    
}
.infos a{
    text-decoration: none;
    color:black;
}

